.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: white; */
    max-width: 30vw;
    padding-bottom: 50px;
}

.checkoutProduct__info {
    padding-left: 20px
}

.checkoutProduct__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutProduct__rating {
    display: flex;
  }

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}

.view_features {
    text-align: center;
    border: 1px solid black;
    color: white;
    background-color: black;
}

.sec2 {
    max-width: 100%;
    margin-top: 40px;
    text-align: center;
  }
  .sec2 button {
    color: #FFF;
    background: black;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    width: fit-content;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    padding: 1.25em 3em;
    /* margin-top: 1em; */
    position: relative;
    overflow: hidden;
    z-index: 100;
  }
 .sec2 button::before {
    background: #FFF;
    content: "";
    position: absolute;
    z-index: -1;
  }
  .sec2 button::after {
    background: #FFF;
    content: "";
    position: absolute;
    z-index: -1;
  }
  .sec2 button:hover {
    color: #000;
    cursor: pointer;
    z-index: 1;
  }
  .view_features::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    transform-origin: right center;
    transform: scale3d(0, 1, 0);
    transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .view_features:hover::after {
    height: 100%;
    width: 100%;
    transform: scale3d(1, 1, 1);
    transform-origin: left center;
    
  }

  .view_features {
    font-size: 13px;
    letter-spacing: 0.4px;
    font-weight: 500;
}
.sec2 button {
    width: 16vw;
    padding-left: 2px;
    padding-right: 2px;
}